<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block title %}Food shop{% endblock %}</title>
    <meta http-equiv="content-type" content="text/html">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"/>
    <style>
      .navbar .nav-link, .navbar-brand{
        color: black;
      }
    </style>
  </head>
  <body>
    <nav id="navbar" class="navbar bg-body-tertiary px-3 mb-3" style="background-color: yellow">
      <a href="/" class="navbar-brand h1" href="#">Food delivery</a>
      <div class="d-flex mr-auto">
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Введите название ресторана или блюдо"/>
          <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample" style="background-color: yellow; color: black">Найти</a>
        </form>
      </div>
      <a href="/login" class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample" style="background-color: yellow; color: black">Вход</a>
    </nav>

    {% block content %}{% endblock %}

  </body>
</html>