{% extends "main.html" %}

{% block title %}Результаты поиска{% endblock %}

{% block content %}
<div class="restaurants">
  <div class="container">
    <h1>Результаты поиска для "{{ query }}"</h1>
    <div class="row">
      {% if query == '' %}
        <p>Пожалуйста, введите запрос для поиска.</p>
      {% elif results %}
        {% for restaurant in results %}
          <div class="col-md-4">
            <div class="card">
              <img
                src="{{ restaurant.photo }}"
                class="card-img-top"
                alt="Изображение ресторана"
              />
              <div class="card-body">
                <a
                  href="{{ url_for('restaurant_by_id', id=restaurant.id) }}"
                  style="color: black"
                >
                  <h4 class="card-title">{{ restaurant.name }}</h4>
                </a>
                <p class="card-text">
                  Часы работы: {{ restaurant.hours_of_operation }}
                </p>
                <p class="card-text">Рейтинг: {{ restaurant.rating }}</p>
              </div>
            </div>
          </div>
        {% endfor %}
      {% else %}
        <p>Нет результатов</p>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
